pre code
{
	font-family: Consolas,Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  font-size: 0.85em;
  line-height: 1.25;
  display: block;
  color: #ddd;
  border-radius: 5px;
  margin: 10px 0 8px 0;
  padding: 8px 15px;
  overflow-x: auto;	
  background: #2D3339;
  box-shadow: inset 0 1px 10px rgba(0,0,0,0.8), 0 1px 1px rgba(255,255,255,1);
}

code
{
	font-family: Consolas,Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  line-height: 2;
  font-size: 0.75em;
  padding: 2px 8px;
	background-color: #F8F8F8; 
	border: 1px solid #EAEAEA; 
	border-radius: 3px;
	box-shadow: inset 0 0 1px 0 #222;
}

pre .k, pre .kt{color: rgb(86,156,214);}
pre .n, pre .nc{color: rgb(78,201,176);}
pre .cp{color: rgb(155,155,155);}
pre .lineno{color: rgb(43,145,175);}
pre .c1 {color: rgb(87,166,74);}
pre .s {color: rgb(215,186,125);}