@import url(foundation.min.css);
@import url(metro.css);

body {
    padding: 0;
    margin: 0;
    color: #888;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

ul, ol, dl {
    list-style: none;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
    text-transform: lowercase;
}

h4, h5, h6 {
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
}

h4 {
}

h5 {
}

h6 {
}

a {
    font-weight: 400;
    text-decoration: none;
    padding: 2px 4px;
}

    a:hover {
        background: #1893CC;
        color: #f2f2f2;
        text-decoration: none;
    }

    a small {
        font-size: 11px;
        color: #777;
        margin-top: -0.6em;
        display: block;
    }

.label {
    font-weight: normal;
}

    .label a {
        color: #f2f2f2;
        padding: 0;
    }

        .label a:hover {
            background: none;
        }

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

code, pre {
    font-size: 12px;
}

code {
    border: none;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

dt {
    /*color:#444;*/
    font-weight: 700;
}

th {
    /*color:#444;*/
}

img {
    max-width: 100%;
}

.top-bar {
    margin-bottom: 0;
}

    .top-bar ul > li a:not(.button) {
        font-weight: normal;
        color: #f2f2f2;
    }

        .top-bar ul > li a:not(.button):hover {
            color: #f2f2f2;
        }

.inner {
    max-width: 960px;
    margin: 0 auto;
}

.page-title {
    float: left;
    color: #f2f2f2;
}

.center {
    text-align: center;
}

header ul {
    list-style: none;
    height: 50px;
    float: right;
}

header li {
    width: 90px;
    float: left;
    height: 45px;
}

    header li:hover {
        border-top: 5px solid rgb(27, 141, 226);
    }

        header li:hover a {
            margin-top: 10px;
        }

header ul a {
    line-height: 1;
    color: #f2f2f2;
    display: block;
    text-align: center;
    margin-top: 15px;
}

    header ul a:hover {
        background: none;
    }

strong {
    color: #222;
    font-weight: 700;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #222;
}

.content {
    padding: 60px 20px 60px 0;
}

aside {
    width: 300px;
    float: right;
    padding: 0 10px;
    margin: 60px 0;
}

    aside ul {
        margin: 0;
        padding: 0;
    }

small {
    font-size: 11px;
}

.posts-archive, .tags {
    list-style: none;
}

#post ul li, #post ol li, #archive ul li, #tags-archive ul li {
    border-left-color: #1BA1E2;
    border-left-style: solid;
    border-left-width: 20px;
    margin: 10px;
    padding: 0 5px;
    display: block;
    list-style-position: inside;
    list-style-type: none;
    color: #1BA1E2;
}

.post-meta {
    margin-bottom: 10px;
    padding: 5px 0;
    border-top: 1px solid rgba(27, 161, 226, 0.25);
    border-bottom: 1px solid rgba(27, 161, 226, 0.25);
}

    .post-meta p {
        margin: 0 10px;
    }

fieldset {
    border: none;
    border-bottom: 1px solid rgba(27, 161, 226, 0.25);
    margin: 10px;
    width: 100%;
}

    fieldset legend {
        font-weight: normal;
        text-transform: uppercase;
    }

    fieldset ul {
        margin-left: 10px;
    }

hr {
    border: 0;
    background: rgba(27, 161, 226, 0.25);
    height: 1px;
    margin: 0 0 20px;
}

.disclaimer {
    width: 100%;
    height: 35px;
    background: rgba(27, 161, 226, 0.25);
    padding: 10px 0;
    text-align: center;
}

footer {
    width: 100%;
    background: #fdfdfd;
}

    footer fieldset {
        border: none;
    }

        footer fieldset legend {
            background: none;
        }

@media print, screen and (max-width: 960px) {

    div.wrapper {
        margin: 0;
        padding: 0 15px;
    }

    .inner {
        padding: 0 15px;
    }

    header a small {
        display: inline;
    }

    section, aside {
        float: none;
        width: 100%;
        margin: 0;
    }

    section {
        width: 100%;
        padding: 60px 0 0;
        border-right: 0;
        border-bottom: 1px solid rgba(27, 161, 226, 0.25);
    }

    aside {
        padding: 20px 0 60px;
    }
}

@media print, screen and (max-width: 768px) {
    body {
        word-wrap: break-word;
    }

    header {
        padding: 0;
    }

        header ul, header p.view {
            position: static;
        }

    pre, code {
        word-wrap: normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
    }

    header ul {
        display: none;
    }
}

@media print {
    body {
        font-size: 12pt;
        color: #444;
    }
}






/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
