html, body {
	min-height: 100%;
	height: 100%;
}

body {
    padding: 0;
    margin: 0;
    color: #888;
	background: rgba(0, 25, 64, 1);
}

.bluebg {
	background-color: #001940;
}

.accent {
	color: #001940;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

ul, ol, dl {
    list-style: none;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
    text-transform: lowercase;
}

h4, h5, h6 {
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
}

h4 {
}

h5 {
}

h6 {
}

a {
    font-weight: 400;
    text-decoration: none;
	color: rgba(0, 25, 64, 0.4)
}

    a:hover, .read-more a:hover {
        color: rgba(0, 25, 64, 1);
        text-decoration: none;
    }

    a small {
        font-size: 11px;
        color: #777;
        margin-top: -0.6em;
        display: block;
    }

header {
	padding: 0;
	margin: 0;
}

.label {
	background: none;
	padding: 0;
}

    .label a {
		font-weight: normal;
		padding: 3px 5px;
		background-color: rgba(0, 25, 64, 0.25);
        color: rgba(0, 25, 64, 1);
    }

        .label a:hover {
            background: rgb(0, 25, 64);
			color: #f2f2f2;
        }

.wrapper {
    width: 100%;
	background: rgb(255,255,255);
    margin: 0 auto;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

code, pre {
    font-size: 12px;
}

code {
    border: none;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

dt {
    font-weight: 700;
}

th {
}

img {
    max-width: 100%;
}

.top-bar {
	height: 40px;
	line-height: 40px;
	margin: 0;
}

	.top-bar ul {
		height: 40px;
		line-height: 40px;
	}
	
	.top-bar ul > li:hover:not(.name) {
		background-color: #f2f2f2;
	}

    .top-bar ul > li a:not(.button) {
        font-weight: normal;
        color: #f2f2f2;
		height: 40px;
		line-height: 40px;
    }
	
	.top-bar ul > li a:not(.button):hover {
		background: rgba(255,255,255,0.12);
	}
		
	.top-bar ul > li:hover:not(.name), .top-bar ul > li.active:not(.name), .top-bar ul > li:focus:not(.name) {
		background: rgba(255,255,255,0.12);
	}

	.inner {
    max-width: 960px;
    margin: 0 auto;
}

.page-title {
	font-size: 30px;
	line-height: 40px;
    float: left;
    color: #f2f2f2;
	margin: 0;
}

.center {
    text-align: center;
}

header {
	width: 100%;
	height: 40px;
	margin: 0;
}

header .fixed {
	margin: 0;
}

header ul {
    list-style: none;
    height: 40px;
}

header ul.right li {
    width: 90px;
    float: left;
    height: 40px;
}

header ul a {
    line-height: 1;
    color: #f2f2f2;
    display: block;
    text-align: center;
}

strong {
    color: #222;
    font-weight: 700;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #222;
}

.content {
    padding: 0 20px 60px 0;
}

aside {
    width: 300px;
    float: right;
    padding: 0 10px;
    margin: 60px 0;
}

    aside ul {
        margin: 0;
        padding: 0;
    }

#gravatar {
	background: #f2f2f2 url('http://www.gravatar.com/avatar/704f2d28f95be7e310adcdd328e621ec?s=100') no-repeat top right;
	float: left; 
	width: 100px;
	height: 100px;
	margin: 5px;
}

small {
    font-size: 11px;
}

.posts-archive, .tags {
    list-style: none;
}

#post h2 {
	line-height: 1.4em;
}

#post ul li, #post ol li, #archive ul li, #tags-archive ul li {
    border-left-color: rgba(0, 25, 64, 1);
    border-left-style: solid;
    border-left-width: 20px;
    margin: 10px;
    padding: 0 5px;
    display: block;
    list-style-position: inside;
    list-style-type: none;
    color: rgba(0, 25, 64, 1);
}

#tagcloud{
	line-height: 1.75em;
	padding: 2px;
	text-align: center;
	margin: 0;
}

#tagcloud li {
	display: inline;
}

.post-meta {
    margin-bottom: 10px;
    padding: 5px 0;
    border-top: 1px solid rgba(0, 25, 64, 0.25);
    border-bottom: 1px solid rgba(0, 25, 64, 0.25);
}

    .post-meta p {
        margin: 0 10px;
    }

nav#pagination
{
	width: 100%;
	padding: 10px 0;
}

	nav#pagination .prev-page
	{
		float: left;
	}
	
	nav#pagination .next-page
	{
		float: right;
	}
	
fieldset {
    border: none;
    border-bottom: 1px solid rgba(0, 25, 64, 0.25);
    margin: 10px;
    width: 100%;
}

    fieldset legend {
        font-weight: normal;
        text-transform: uppercase;
    }

    fieldset ul {
        margin-left: 10px;
    }

hr {
    border: 0;
    background: rgba(0, 25, 64, 0.25);
    height: 1px;
    margin: 0 0 20px;
}

#disqus_thread {
	color: #888;
}

.disclaimer {
    width: 100%;
    min-height: 35px;
    background: rgba(0, 25, 64, 0.25);
    padding: 10px 0;
    text-align: center;
}

footer {
    width: 100%;
    background: rgba(0, 25, 64, 1);
	color: #f2f2f2;
}

	footer a {
		padding: 2px 4px;
	}
	
	footer a ,
	.disclaimer strong{
		color: #f2f2f2;
	}
	
	footer a:hover {
		background-color: rgba(255,255,255,0.12);
		color: #f2f2f2;
	}
	
	footer hr {
		background: #f2f2f2;
	}
	
    footer fieldset {
        border: none;
    }

        footer fieldset legend {
            background: none;
        }

@media print, screen and (max-width: 960px) {

    div.wrapper {
        margin: 0;
        padding: 0 15px;
    }

    .inner {
        padding: 0 15px;
    }

    header a small {
        display: inline;
    }

    section, aside {
        float: none;
        width: 100%;
        margin: 0;
    }

    section {
        width: 100%;
        padding: 60px 0 0;
        border-right: 0;
        border-bottom: 1px solid rgba(27, 161, 226, 0.25);
    }

    aside {
        padding: 20px 0 60px;
    }
	
	#post {
		padding-bottom: 50px;
	}
}

@media print, screen and (max-width: 768px){
    body {
        word-wrap: break-word;
    }

    header {
        padding: 0;
    }

        header ul, header p.view {
            position: static;
        }

    pre, code {
        word-wrap: normal;
    }
	
	#gravatar {
		background: #fff url('http://www.gravatar.com/avatar/704f2d28f95be7e310adcdd328e621ec?s=50') no-repeat top right;
		width: 50px;
		height: 50px;
	}
	#post {
		/* top: 3em; */
		
	}
}

@media print, screen and (max-width: 480px) {
    body {
    }

    header ul {
        display: none;
    }
	.page-title {
		font-size: 36px;
	}
}

@media print {
    body {
        font-size: 12pt;
        color: #444;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 1024px) {
    /* Styles */
    #post {
		/* top: 3em; */
	}

    section, aside {
        float: none;
        width: 100%;
        margin: 0;
    }

    section {
        width: 100%;
        padding: 60px 0 0;
        border-right: 0;
        border-bottom: 1px solid rgba(27, 161, 226, 0.25);
    }

    aside {
        padding: 20px 0 60px;
    }
	
	.top-bar {
		margin: 0 auto;
		width: 100%
	}
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
	.page-title {
		font-size: 32px;
	}
	
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}


code {
font-family: Courier,monospace;
font-size: 120%;
white-space: nowrap;
display: inline;
}

code, tt {
background-color: #F8F8F8;
border: 1px solid #EAEAEA;
border-radius: 3px 3px 3px 3px;
margin: 0 2px;
padding: 0 5px;
color: #555555;
}

pre {
background-color: #F8F8F8;
border: 1px solid #CCCCCC;
border-radius: 3px 3px 3px 3px;
font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 6px 10px;
margin: 15px 0;
display: block;
}

pre code {
border: none;
white-space: pre;
padding: 0;
}

.str {
color: #800;
}

.kwd {
color: #008;
}

.com {
color: #080;
}

.typ {
color: #2b91af;
}

.lit {
color: #066;
}

.pun, .opn, .clo {
color: #660;
}

.tag {
color: #008;
}

.atn {
color: #606;
}

.atv {
color: #080;
}

.dec, .var {
color: #606;
}

.fun {
color: #2b91af;
}