{% include head.html %}

<body>
	<div class="container">
		<div class="left-col">
			<div class="intrude-less">
				<header id="header" class="inner">{% include header.html %}</header>				
			</div>
		</div>
		<div class="mid-col">
			<div class="mid-col-container">
				<div id="content" class="inner">{{ content }}</div>
			</div>
            <nav id="sub-nav">
                <div class="social">
                    {% if site.twitter_user %}
                        <a class="twitter" href="http://twitter.com/{{ site.twitter_user }}" title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    {% endif %}
                    {% if site.github_user %}
                        <a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub"><i class="fa fa-github"></i><span>GitHub</span></a>
                    {% endif %}
                    {% if site.subscribe_rss %}
                        <a class="rss" href="{{ site.subscribe_rss }}" title="RSS"><i class="fa fa-rss"></i><span>RSS</span></a>
                    {% endif %}
                </div>
            </nav>
		</div>
        <div class="right-col">
            <div class="right-col-container">
                <div class="profile">
                    {% if site.gravatar_url %}
                    <img src="{{ site.gravatar_url }}?s=160" alt="Profile Picture" style="width: 160px;" />
                    {% endif %}
                    <h1>{{ site.title }}</h1>
                    {% if site.subtitle %}
                    <h2>{{ site.subtitle }}</h2>
                    {% endif %}
                    {% if site.description %}
                        <section class="aboutme">
                          <p>
                            {{ site.description }}
                          </p>
                        </section>
                    {% endif %}
                    {% if site.display_resume %}
                    <p class="resume"><a href="/resume/">View Resume</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <footer id="footer" class="inner">{% include footer.html %}</footer>
	</div>
<script>
    function _dmBootstrap(file) {
        var _dma = document.createElement('script'); 
        _dma.type = 'text/javascript';
        _dma.async = true; 
        _dma.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + file;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(_dma);
    }
    function _dmFollowup(file) { if (typeof DMAds === 'undefined')  _dmBootstrap('cdn2.DeveloperMedia.com/a.min.js');}
    (function () { _dmBootstrap('cdn1.DeveloperMedia.com/a.min.js'); setTimeout(_dmFollowup, 2000);})();
</script>
</body>
</html>
